#scheduleTable {
  height: 400px;
  width: 50%;
  background-color: powderblue;
  border: 1px solid #d3d3d3;
}

.mydiv {
  height: 150px;
  width: 200px;
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
}

.blockSpot {
  width: 130px;
}

#mydivheader {

  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196f3;
  color: #fff;
}

.left {
  position: absolute;
  left: 0;
  top: 40px;
  width: 50%;
}

.right {
  position: absolute;
  right: 0;
  top: 40px;
  width: 40%;
}


#sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 160px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
  }
#sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 120px;
  }

