html{
  font-family: 'Roboto', sans-serif;
  height: 100%;

}

body{
  height: 100%;
  padding: 0px;
  margin: 0;
  background: url(../img/bg.jpg)  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 3;
  font-size: 40px;
  color: white;
}

#map {
       height: 400px;
       margin-right: 10px;
       margin-top: 10px;
       padding-top: 20px;
      }

.add__location {
  margin-left: 10px;
  margin-bottom: 10px;
}
